---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro|Open+Sans:400italic,700italic,400,700);

// Font Variables
$sorce-serif: 'Source+Serif+Pro', serif;   
$open-sans: 'Open+Sans', sans-serif;
$fascinate: 'Fascinate';

body {
  font-family: $open-sans;
}

h1.post-title{
   font-family: "Roboto",sans-serif;
}

div.social{
  height: 20px;
}

p.desc{
  font-weight: bold;
}

.fa-envelope{
--global-text-color: #bb0000;
}
.ai-orcid{
  --global-text-color: #a6ce39;
}
.ai-google-scholar{
  --global-text-color: #2962ff;
}
.fa-github-square{
  --global-text-color: #24292e;
}
.fa-linkedin{
  --global-text-color: #0A66C2;
}
.fa-twitter-square{
  --global-text-color: #1DA1F2;
}
